fastapi
uvicorn[standard]
sqlalchemy
psycopg2
alembic
pydantic[email]
libgravatar
python-jose[cryptography]
passlib[bcrypt]
python-multipart
fastapi-mail
cloudinary
redis
pydantic-settings
qrcode[pil]
sphinx
pytest
httpx
pytest-cov